*,
*::before,
*::after {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5) , rgba(0,0,0,.5) 100%) no-repeat,
    url("../img/colorful-grey.jpg") no-repeat fixed;
    background-size: cover;
}

.container{
    inline-size: 40vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 4vh;
    overflow: hidden;

}

.container > *{
    flex-shrink: 0;
    align-self: center;
}

.avatar-container{
    align-self: stretch;
    margin: 0 auto 2em;
}

.avatar{
    inline-size: 64px;
    block-size: 64px;
    border-radius: 50%;
}

.nav-list{
    inline-size: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.nav-button{
    font-size: 1rem;
    height: 44px;
    padding: 0 20px;
    min-width: 78px;
    display: inline-flex;
    flex: 0 0 calc((100% - 30px) / 2);
    align-items: center;
    justify-content: center;
    border: black 2px solid;
    margin-bottom: 16px;
    border-radius: 4px;
    background-color: transparent;
    color: black;
}